<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}"
 >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<th:block th:if="${session.mdto==null}">
   <p class = "test">
      <button type="button" class="btn" th:onclick="|location.href='@{/user/login}'|">로그인</button>
      <button type="button" class="btn" th:onclick="|location.href='@{/user/addUser}'|">회원가입</button>
   </p>

   <img class="hos" th:src="@{/img/병원.png}" />

</th:block>
</div>

</body>
</html>