@charset "UTF-8";


.test{
   margin-top: 25px; 
   margin-left : 1300px;
   
   }

.test2{
   margin-top: 25px; 
   margin-left : 1350px;

   }
   
.test2 a{
   margin: 34px;
   /*text-align : center;*/

   }   

.btn{
   margin : 3px;
}

.b{
   margin : 30px;
   background-color: white; 
   width:300px; 
   height:130px

}


.test3 {
   
   margin-top : 100px;
   margin-left:400px;
   font-size:30px;

   
   }

.hos{

   height:480px; 
   width : 1500px;
   
}

.ch{
   margin-right : 20px;
   height:65px; 
   width :65px;
   
}

.errorField{
   color : red;
   }
 
footer{
  height: 60px;
  position : absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;

}

#container{
   
   width: 500px;
   margin: 0 auto;
   font-size:12px;
   }
   
#inputcontainer{
   height: 40px;
   width: 330px;
   margin: 0 auto;
    font-size:12px;
}

#loginbutton{
   height: 40px;
   width: 30px;
   margin: 0auto;
    font-size:12px;
}

   



